# Cleaning FORMATION feature

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import re
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
data_path = os.environ.get("DATA_PATH")
df_train = pd.read_csv(data_path+"/train.csv", sep=';')

In [3]:
df_train.head()

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,FORCE_2020_LITHOFACIES_LITHOLOGY,FORCE_2020_LITHOFACIES_CONFIDENCE
0,15/9-13,494.528,437641.96875,6470972.5,-469.501831,NORDLAND GP.,NaN,19.480835,NaN,1.611410,...,34.636410,NaN,NaN,-0.574928,NaN,NaN,NaN,NaN,65000,1.0
1,15/9-13,494.680,437641.96875,6470972.5,-469.653809,NORDLAND GP.,NaN,19.468800,NaN,1.618070,...,34.636410,NaN,NaN,-0.570188,NaN,NaN,NaN,NaN,65000,1.0
2,15/9-13,494.832,437641.96875,6470972.5,-469.805786,NORDLAND GP.,NaN,19.468800,NaN,1.626459,...,34.779556,NaN,NaN,-0.574245,NaN,NaN,NaN,NaN,65000,1.0
3,15/9-13,494.984,437641.96875,6470972.5,-469.957794,NORDLAND GP.,NaN,19.459282,NaN,1.621594,...,39.965164,NaN,NaN,-0.586315,NaN,NaN,NaN,NaN,65000,1.0
4,15/9-13,495.136,437641.96875,6470972.5,-470.109772,NORDLAND GP.,NaN,19.453100,NaN,1.602679,...,57.483765,NaN,NaN,-0.597914,NaN,NaN,NaN,NaN,65000,1.0

In [4]:
df_train['FORMATION'].unique()

array([nan, 'Utsira Fm.', 'Balder Fm.', 'Sele Fm.', 'Lista Fm.',
       'Heimdal Fm.', 'Tor Fm.', 'Hod Fm.', 'Blodoeks Fm.', 'Svarte Fm.',
       'Roedby Fm.', 'Sola Fm.', 'Aasgard Fm.', 'Draupne Fm.',
       'Heather Fm.', 'Hugin Fm.', 'Smith Bank Fm.', 'Frigg Fm.',
       'Skagerrak Fm.', 'Ekofisk Fm.', 'Kupferschiefer Fm.', 'Skade Fm.',
       'Grid Fm.', 'Vaale Fm.', 'Sleipner Fm.', 'Hidra Fm.', 'Tuxen Fm.',
       'Mandal Fm.', 'Ula Fm.', 'Bryne Fm.', 'Tau Fm.', 'Sandnes Fm.',
       'Intra Draupne Fm. Sst.', 'Statfjord Fm.', 'Skade Mb.', 'BASEMENT',
       'Ran Sst Mb.', 'Flekkefjord Fm.', 'Sauda Fm.', 'Egersund Fm.',
       'Intra Balder Fm. Sst.', 'Hermod Mb.', 'Ty Fm.', 'Hardraade Fm.',
       'Kyrre Fm.', 'Tryggvason Fm.', 'Drake Fm.', 'Cook Fm.',
       'Amundsen Fm.', 'Grid Mb.', 'Ty Mb.', 'Jorsalfare Fm.',
       'Burton Fm.', 'Mime Fm.', 'Intra Heather Fm. Sst.', 'Tarbert Fm.',
       'Ness Fm.', 'Etive Fm.', 'Rannoch Fm.', 'Broom Fm.', 'Lunde Fm.',
       'Oseberg Fm.', 'Sognefjord Fm.', 'Fensfjord Fm.', 'Krossfjord Fm.',
       'Johansen Fm.', 'Eiriksson Mb.', 'Raude Mb.', 'Agat Fm.',
       'Farsund Fm.'], dtype=object)

In [5]:
# String to be searched in start of string  
search ="Ty Mb"
  
# boolean series returned 
df_train["FORMATION"].loc[df_train["FORMATION"].str.startswith(search, na=False)]

320524    Ty Mb.
320525    Ty Mb.
320526    Ty Mb.
320527    Ty Mb.
320528    Ty Mb.
           ...
418252    Ty Mb.
418253    Ty Mb.
418254    Ty Mb.
418255    Ty Mb.
418256    Ty Mb.
Name: FORMATION, Length: 1171, dtype: object

In [22]:
df_train_copy = df_train.copy()

In [25]:
df_train_copy = df_train_copy.replace({'FORMATION': {'Skade Mb.': 'Skade Fm.', 'Grid Mb.': 'Grid Fm.', 'Ty Mb.': 'Ty Fm.'}})

In [26]:
df_train_copy['FORMATION'].unique()

array([nan, 'Utsira Fm.', 'Balder Fm.', 'Sele Fm.', 'Lista Fm.',
       'Heimdal Fm.', 'Tor Fm.', 'Hod Fm.', 'Blodoeks Fm.', 'Svarte Fm.',
       'Roedby Fm.', 'Sola Fm.', 'Aasgard Fm.', 'Draupne Fm.',
       'Heather Fm.', 'Hugin Fm.', 'Smith Bank Fm.', 'Frigg Fm.',
       'Skagerrak Fm.', 'Ekofisk Fm.', 'Kupferschiefer Fm.', 'Skade Fm.',
       'Grid Fm.', 'Vaale Fm.', 'Sleipner Fm.', 'Hidra Fm.', 'Tuxen Fm.',
       'Mandal Fm.', 'Ula Fm.', 'Bryne Fm.', 'Tau Fm.', 'Sandnes Fm.',
       'Intra Draupne Fm. Sst.', 'Statfjord Fm.', 'BASEMENT',
       'Ran Sst Mb.', 'Flekkefjord Fm.', 'Sauda Fm.', 'Egersund Fm.',
       'Intra Balder Fm. Sst.', 'Hermod Mb.', 'Ty Fm.', 'Hardraade Fm.',
       'Kyrre Fm.', 'Tryggvason Fm.', 'Drake Fm.', 'Cook Fm.',
       'Amundsen Fm.', 'Jorsalfare Fm.', 'Burton Fm.', 'Mime Fm.',
       'Intra Heather Fm. Sst.', 'Tarbert Fm.', 'Ness Fm.', 'Etive Fm.',
       'Rannoch Fm.', 'Broom Fm.', 'Lunde Fm.', 'Oseberg Fm.',
       'Sognefjord Fm.', 'Fensfjord Fm.', 'Krossfjord Fm.',
       'Johansen Fm.', 'Eiriksson Mb.', 'Raude Mb.', 'Agat Fm.',
       'Farsund Fm.'], dtype=object)